/* quote of the day : Try your best to get what you can with tailwind, and when you start spending too long and getting nowhere, just go for the plain css */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@1,257&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Import tailwind css cli */
@import "tailwindcss";


/* if you want to edit with regular css go to output.css  */

@theme{
  /* font */
  --font-overpass: "Overpass", sans-serif;

  /* color */
  --clr-orange:oklch(0.7093 0.1889 47.74);
  --clr-white: oklch(1 0 0);
  --clr-grey-500: oklch(0.6968 0.0227 259.94);
  --clr-grey-900: oklch(0.2939 0.0207 253.61);
  --clr-grey-950: oklch(0.19 0.0067 258.37);
  --clr-bg-grey:oklch(0.4087 0.0198 251.53);
  --clr-bluish: oklch(0.6371 0.1426 258.37);

  /* spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);

  /* font-size */
  --step--2: clamp(0.5642rem, 0.4961rem + 0.3405vw, 0.76rem);
  --step--1: clamp(0.6771rem, 0.5822rem + 0.4746vw, 0.95rem);
  --step-0: clamp(0.8925rem, 0.6821rem + 0.6522vw, 1.1875rem);
  --step-1: clamp(0.975rem, 0.7978rem + 0.8859vw, 1.4844rem);
  --step-2: clamp(1.17rem, 0.9316rem + 1.1921vw, 1.8555rem);
  --step-3: clamp(1.404rem, 1.0856rem + 1.5919vw, 2.3193rem);
  --step-4: clamp(1.6848rem, 1.2624rem + 2.1119vw, 2.8992rem);
  --step-5: clamp(2.0218rem, 1.4645rem + 2.7864vw, 3.624rem);
}

li button{
  background-color: var(--clr-bg-grey);
  border-radius: 25px;  
  padding: .72em 1.2em ;
}

li button:hover{
  background-color: var(--clr-orange);
  color: var(--clr-grey-900);
}

li button:hover{
  background-color: var(--clr-orange);
  color: var(--clr-grey-900);
}

li button:focus{
  background-color: var(--clr-white);
  color: var(--clr-grey-950);
}